*{
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-family: Georgia;
}
.App{
  height: 100vh;
  width: 100vw;
  /* overflow: scroll; */
  display: grid;
  grid-template-rows: 1fr 20fr 1fr;
}
/* Nav CSS */
.Nav{
  grid-row: 1/2;
  background-color: rgb(102, 7, 26);
  width: 100vw;
  height: 40px;

  position: fixed;
    top: 0px;
}
.Nav > ul{
  height: 40px;
  list-style: none;
  letter-spacing: 0.02in;

  display: flex;
  justify-content: flex-start;
}
.Nav > ul > li{
  display: inline;
  margin: 11px 0px;
}
.Nav > ul > li:first-child{
  padding-right: 40px;
}
.Nav > ul > li:last-child{
  margin: 5px 0px;
  margin-left: 80vw;
}


/* Form CSS */
.Form{
  grid-row: 2/3;
  background-color: black;
  overflow: scroll;
  
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.Form > .section1 {
  grid-row: 1/2;
}
.Form > .section1 > h1{
  margin-bottom: 40px;
  letter-spacing: 0.1in;
  font-style: italic;
  color: aliceblue;
}
.Form > .section1 > .inputs{
  margin-left: 25vw;
  margin-top: 15px;
}
.Form > .section1 > .inputs > input{
  padding: 10px 20px;
  box-shadow: 0px 0px 10px 5px whitesmoke;
  border: 3px darkslateblue inset;
  border-radius: 10px;
  font-size: 15px;
}
.Form > .section1 > .inputs > input:first-child{
  margin-right: 30px;
}
.Form > .section1 > .inputs > button {
  padding: 10px 20px;
  margin-left: 30px;
  border: 3px darkslateblue inset;
  border-radius: 10px;
  font-size: 15px;
  
  background-color: white;
  transition: all 300ms ease-in-out;
}
.Form > .section1 > .inputs > button:hover{
  background-color: black;
  cursor: pointer;
}

.Form > .section2{
  grid-row: 2/3;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/festival.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
  background-position: center;
}
.Form > .section2 > button{
  padding: 5px 10px;
  border: 2px slateblue inset;
  border-radius: 10px;
  font-size: 15px;
  z-index: 2;
  position: relative;
    left: 32.75vw;
    top: 140px;
}
.Form > .section2 > button{
  cursor: pointer;
}
.Form > .section2 > .images > img{
  border-radius: 10px;
  width: 400px;
  height: 250px;
  margin-left: 36vw;
}
.Form > .section2 > .images > button{
  padding: 5px 10px;
  border: 2px slateblue inset;
  border-radius: 10px;
  font-size: 15px;
}
.Form > .section2 > .images > button:hover{
  cursor: pointer;
}
.Form > .section2 > .images > button{
  position: relative;
    left: 1vw;
    bottom: 120px;
}


/* Results CSS */
.App > h1{
  margin-top: 100px;
}
.Results > h1{
  margin-top: 20px;
}
.Results > div:first-child > div{
  margin-top: 80px;
}
.Results{
  height: 700px;
  overflow: scroll;
  position: relative;
    top: 40px;
}


/* Result CSS */
.Result{
  position: relative;
  margin-top: 20px;
  height: 150px;
  width: 850px;
  background-color: aliceblue;
  border: 5px lightgray double;
}
.Result > h1{
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
}
.Result > h2{
  font-size: 15px;
  margin-top: 20px;
}
.Result > h1, h2{
  margin-left: 200px;
}
.Result > img{
  width: 180px;
  height: 120px;
  border-radius: 4px;
  border: 1px lightgray outset;
  position: relative;
    bottom: 65px;
    left: 10px;
}
.Result > h3{
  font-size: 15px;
  position: relative;
    bottom: 100px;
    left: 200px;
}
.Result > button{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  border: 2px cadetblue double;
  transition: all 300ms ease-in-out;
  font-size: 14px;
  position: relative;
    bottom: 140px;
    left: 680px;
}
.Result > button:hover{
  background-color: whitesmoke;
  border: 2px cadetblue double;
  cursor: pointer;
}


/* Contact */
.Help{
  height: 700px;
  width: 100vw;
  position: relative;
    top: 50px;
}
.Help > h3, p{
  margin-left: 10vw;
  line-height: 0.4in;
}
.Help > p{
  font-style: italic;
  color: lightslategray;
  margin-bottom: 10px;
}
.Help > div{
  color: rgb(102, 7, 26);
  margin-top: 20px;
  position: relative;
    left: 145px;
}
.Help > div > input{
  width: 300px;
  height: 30px;
}
.Help > #user-input{
  height: 250px;
  width: 50vw;
  position: relative;
    top: 50px;
    left: 145px;
}
.Help > button{
  border: 2px black solid;
  border-radius: 10px;
  background-color: rgb(102, 7, 26);
  color: whitesmoke;
  transition: all 300ms ease-in-out;
  padding: 10px 30px;
  font-size: 15px;
  position: relative;
    top: 100px;
    right: 20vw;
}
.Help > button:hover{
  cursor: pointer;
  background-color: rgba(102, 7, 26, 0.62);
}


/* Purchase CSS */
.Purchase{
  position: relative;
    top: 25vw;
}


/* Footer CSS */
.Footer {
  grid-row: 3/4;
  background-color: rgb(102, 7, 26);
  color: aliceblue;
  width: 100vw;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  position: fixed;
  bottom: 0px;
}