*{
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 20fr;
  /* background-image: url('./images/beyonce.jpeg'); */
}

/* Nav CSS */
.Nav{
  grid-row: 1/2;
  background-color: darkslategray;
  width: 100vw;
  height: 40px;
}
.Nav > ul{
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 40px;
  list-style: none;
}

/* Form CSS */
.Form{
  grid-row: 2/3;
  width: 100vw;
  height: 95vh;

  background-color: black;
  
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
}
/* .Form{
  gri
} */

/* Display CSS */


/* Results CSS */
/* .Results {
  grid: 3/4;
} */
