@import url(https://fonts.googleapis.com/css?family=Young+Serif:regular);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Neuton:200,300,regular,italic,700,800);

*{
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-family: Georgia;
}
.App{
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 40px 1fr 40px;
}
/* Nav CSS */
.Nav{
  grid-row: 1/2;
  background-color: rgb(102, 7, 26);
  width: 100vw;
  height: 40px;

  position: fixed;
    top: 0px;
}
.Nav > ul{
  height: 40px;
  list-style: none;
  letter-spacing: 0.02in;

  display: flex;
  justify-content: flex-start;
}
.Nav > ul > li{
  display: inline;
  margin: 11px 0px;
}
.Nav > ul > li:first-child{
  padding-right: 40px;
}
.Nav > ul > li:last-child{
  margin: 5px 0px;
  margin-left: 80vw;
}


/* Form CSS */
.Form{
  grid-row: 2/3;
  background-color: black;
  overflow: scroll;
  
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.Form > .section1 {
  grid-row: 1/2;
}
.Form > .section1 > h1{
  margin-bottom: 40px;
  letter-spacing: 0.1in;
  font-style: italic;
  color: aliceblue;
}
.Form > .section1 > .inputs{
  margin-left: 25vw;
  margin-top: 15px;
}
.Form > .section1 > .inputs > input{
  padding: 10px 20px;
  box-shadow: 0px 0px 10px 5px whitesmoke;
  border: 3px darkslateblue inset;
  border-radius: 10px;
  font-size: 15px;
}
.Form > .section1 > .inputs > input:first-child{
  margin-right: 30px;
}
.Form > .section1 > .inputs > button {
  padding: 10px 20px;
  margin-left: 30px;
  border: 3px darkslateblue inset;
  border-radius: 10px;
  font-size: 15px;
  
  background-color: white;
  transition: all 300ms ease-in-out;
}
.Form > .section1 > .inputs > button:hover{
  background-color: black;
  cursor: pointer;
}

.Form > .section2{
  grid-row: 2/3;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/festival.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
  background-position: center;
  padding-top: 20px;
  
  display: grid;
  grid-template-columns: 50px 350px 50px;
  align-content: baseline;
  justify-content: center;
}
.Form > .section2 > button{
  cursor: pointer;
  border: 2px slateblue inset;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px 10px;
}
.Form > .section2 > img{
  border-radius: 10px;
  width: 300px;
  height: 200px;
}


/* Results CSS */
.Results{
  grid-row: 2/3;
  height: 89vh;
  width: 100vw;
  background-color: black;
  overflow: scroll;

  display: grid;
  grid-template-rows: 100px 1fr;
}
.Results > #header{
  grid-row: 1/2;
  height: 100px;

  display: flex;
  align-content: baseline;
}
.Results > #header > h1{
  color: aliceblue;
  font-family: Playfair Display;
  text-transform: uppercase;
  letter-spacing: 0.05in;
  font-size: 45px;
}
.Results > #header > h1 > span{
  font-size: 20px;
  padding-left: 20px;
}
.Results > #results{
  grid-row: 2/3;

  display: grid;
  row-gap: 20px;
}
.No-Results{
  grid-row: 2/3;
  height: 90vh;
  width: 100vw;
  background-color: black;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 50px;
}
.No-Results > h1{
  color: rgba(255, 255, 255, 0.687);
  font-size: 50px;
  font-family: Neuton;
}


/* Result CSS */
.Result{
  height: 150px;
  width: 850px;
  background-color: aliceblue;
  border: 2px lightgray inset;
  border-radius: 5px;
}
.Result > h1{
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 5px;
  font-style: italic;
}
.Result > h2{
  font-size: 15px;
  margin-top: 20px;
}
.Result > h1, h2{
  margin-left: 200px;
}
.Result > img{
  width: 180px;
  height: 120px;
  border-radius: 4px;
  border: 1px lightgray outset;
  position: relative;
    bottom: 65px;
    left: 10px;
}
.Result > h3{
  font-size: 15px;
  position: relative;
    bottom: 100px;
    left: 200px;
}
.Result > button{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  border: 2px cadetblue double;
  transition: all 300ms ease-in-out;
  font-size: 14px;
  position: relative;
    bottom: 140px;
    left: 680px;
}
.Result > button:hover{
  background-color: whitesmoke;
  border: 2px cadetblue double;
  cursor: pointer;
}


/* Contact */
.Help{
  grid-row: 2/3;
  height: 95vh;
  width: 100vw;
  padding-top: 20px;
  padding-left: 100px;
  overflow: scroll;
}
.Help > h3, p{
  line-height: 0.4in;
}
.Help > p{
  font-style: italic;
  color: lightslategray;
  margin-bottom: 10px;
}
.Help > div{
  color: rgb(102, 7, 26);
  margin-bottom: 25px;
  margin-top: 20px;
}
.Help > div > input{
  width: 300px;
  height: 30px;
}
.Help > #user-input{
  height: 200px;
  width: 50vw;
  overflow: scroll;
}
.Help > button{
  border: 2px black solid;
  border-radius: 10px;
  background-color: rgb(102, 7, 26);
  color: whitesmoke;
  transition: all 300ms ease-in-out;
  padding: 10px 30px;
  font-size: 15px;
  position: relative;
    top: 10px;
    left: 20vw;
}
.Help > button:hover{
  cursor: pointer;
  background-color: rgba(102, 7, 26, 0.62);
}


/* Purchase CSS */
.Purchase{
  grid-row: 2/3;
  width: 100vw;
  height: 90vh;
  background-color: black;
  padding: 10px 150px;
  
  display: flex;
  justify-items: center;
  align-items: flex-start;
  gap: 40px;
}
.Purchase > main{
  flex: 1;

  background-color: rgba(176, 196, 222, 0.674);
  border: 2px outset lightblue;
  border-radius: 10px;
  width: 10vw;
  height: 84vh;
  padding: 20px;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.Purchase > main > img{
  flex: 1.2;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  border: 2px lightgoldenrodyellow inset;
}
.Purchase > main > #text{
  flex: 1;
}
.Purchase > main > #text > #title{
  font-style: italic;
  font-family: Playfair Display;
  font-size: 20px;
  color: rgb(26, 26, 26);
  letter-spacing: 0.01in;
}
.Purchase > main > #text > h1{
  font-family: Playfair Display;
  color:beige;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.02in;
  font-size: 40px;
  margin: 15px 0px;
}
.Purchase > main > #text > #date, #location{
  font-family: Playfair Display;
  color: black;
  letter-spacing: 0.01in;
  font-size: 18px;
}
.Purchase > aside{
  flex: 1;
  background-color: rgba(176, 196, 222, 0.674);
  border: 2px outset lightblue;
  border-radius: 10px;
  height: 50vh;
  margin-bottom: 243px;
  padding: 20px;

  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  row-gap: 20px;
}
.Purchase > aside > h1{
  grid-row: 1/2;
  font-family: Playfair Display;
  font-size: 30px;
  letter-spacing: 0.02in;
  color: darkslategray;
}
.Purchase > aside > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.Purchase > aside > div > .text{
  grid-column: 1/2;
  font-family: Playfair Display;
  font-size: 18px;
}
.Purchase > aside > div > .numbers{
  grid-column: 2/3;

  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.Purchase > aside > div > .numbers > button{
  border: none;
  background: none;
  font-size: 20px;
  color: darkslategray;
}
.Purchase > aside > div > .numbers > button:disabled{
  opacity: 0.2;
}
.Purchase > aside > div > .numbers > button:hover{
  cursor: pointer;
}
.Purchase > aside > div > .numbers > span{
  font-size: 20px;
}


/* Footer CSS */
.Footer {
  grid-row: 3/4;
  background-color: rgb(102, 7, 26);
  color: aliceblue;
  width: 100vw;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  position: fixed;
  bottom: 0px;
}